body{
    background-color: #000101;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
#canvas{
    width: 840px;
    height: 473px;
    border: 1px solid #fff;
}

#made{
    font-size: .7em;
    margin-top: 80vh;
    position: absolute;
    color: #707070;
}
#made a{
    text-decoration: none;
    color: #707070;
}
#made a:hover{
    color:#8B46E2;
}